<%- include('partials/header') %>

  <div class="jumbotron text-center">
    <div class="container">
      <h1 class="display-3">Welcome to My Tuition Buddy: <%=user.fullname%> </h1>
      <p class="secret-text">
      
      </p>
      
    </div>
  </div>

  <%- include('partials/footer') %>